<div class="top-wrapper">
  <h1 class="text-3xl font-bold underline text-center">
      アプリの説明
  </h1>
  <%= link_to '投票する', pokemons_path, class: "btn btn-wide btn-outline btn-info " %>
  <div class="grid grid-cols-3 gap-4">
    <%# ここから御三家ランキングの順位を表示 %>
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
      <h2 class="card-title">名前</h2>
      <figure><%= image_tag "nophoto.jpg" %></figure>
      <div class="card-body">
        <h2 class="card-title">名前</h2>
        <p>投票数</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="bg-white">2</div>
    <div class="bg-primary">3</div>
  </div>
</div>
