<div class="navbar bg-warning">
  <div class="flex-1">
    <%= link_to t('header.title'), root_path, class: 'btn btn-ghost text-xl' %>
  </div>
  <div class="flex-none gap-2">
    <%= link_to t('header.guest'), "#", class:"btn btn-outline mr-2" %>
  </div>
  <div class="flex-none gap-2">
    <%= link_to t('header.new'), new_user_path, class:"btn btn-outline mr-2" %>
  </div>
  <div class="flex-none gap-2">
    <%= link_to t('header.login'), login_path, class:"btn btn-outline mr-2" %>
  </div>
</div>
